.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #ffffff; */
  padding: 0.5rem 1rem;
  /* border-bottom: 1px solid #ddd; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.logo-area .app-logo {
  height: 40px;
  border-radius: 100px;
}

.profile-area {
  cursor: pointer;
}

.profile-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.profile-button:focus .profile-icon,
.profile-button:hover .profile-icon {
  transform: scale(1.1);
}

.profile-button:focus {
  outline: 3px solid rgba(59, 130, 246, 0.5);
  outline-offset: 2px;
}
