<header class="header-container" role="banner">
  <div class="logo-area">
    <!-- Replace this with your actual logo image or text -->
    <img src="assets/logo1.jpg" [routerLink]="['/homePage']" alt="App Logo" class="app-logo" aria-hidden="true" />
  </div>
    <div class="right-section">
    <div class="theme-toggle">
      <button (click)="toggleTheme()">
        <i class="toggle-icon" [class.dark]="isDarkMode" [class.light]="!isDarkMode"></i>
        {{ isDarkMode ? 'Light Mode' : 'Dark Mode' }}
      </button>
    </div>

  <!-- Language Switcher -->
  <div class="language-switcher">
    <select (change)="changeLanguage($event)">
      <option value="en">English</option>
      <option value="fr">Français</option>
      <option value="ar">العربية</option>
    </select>
  </div>
  <!-- <i class="bi bi-globe language-switcher"></i> -->

  <div class="profile-area">
    <!-- On click, navigate to profile -->
    <button class="profile-button" (click)="goToProfile()" aria-label="Go to Profile">
      <img src="assets/profile.webp" alt="Profile Icon" class="profile-icon" aria-hidden="true" />
    </button>
  </div>
  </div>
</header>
