<section class="features-section">
    <div class="section-header">
  <h2 class="section-title">{{ 'home.featuresTitle' | translate }}</h2>
  <p class="section-subTitle">{{'home.featuresSubTitle' | translate }}</p>
  </div>
  <div class="features-grid">
    <div class="feature-card">
      <img src="assets/homepage/editor.webp" alt="Editor Icon" class="feature-img" />
      <h3>{{ 'home.richEditor' | translate }}</h3>
      <p>{{ 'home.richEditorDesc' | translate }}</p>
    </div>

    <div class="feature-card">
      <img src="assets/homepage/templates.png" alt="Templates Icon" class="feature-img" />
      <h3>{{ 'home.stunningTemplates' | translate }}</h3>
      <p>{{ 'home.stunningTemplatesDesc' | translate }}</p>
    </div>

    <div class="feature-card">
      <img src="assets/homepage/analytics.avif" alt="Analytics Icon" class="feature-img" />
      <h3>{{ 'home.analyticsInsights' | translate }}</h3>
      <p>{{ 'home.analyticsInsightsDesc' | translate }}</p>
    </div>

    <div class="feature-card">
      <img src="assets/homepage/schedule.webp" alt="Schedule Icon" class="feature-img" />
      <h3>{{ 'home.schedulingAutomation' | translate }}</h3>
      <p>{{ 'home.schedulingAutomationDesc' | translate }}</p>
    </div>
  </div>
</section>