<div class="posts-container">
  <h2 class="heading">All Posts</h2>
    <!-- Show skeleton loader while loading posts -->
    <div *ngIf="(loading$ | async)">
      <ngx-skeleton-loader count="6" appearance="line" [theme]="{ height: '10rem', 'margin-bottom': '1rem', 'background-color': '#e0e0e0', 'border-radius': '2rem' }"></ngx-skeleton-loader>
    </div>

  <!-- Show loading, error, or the posts list -->
  <!-- <div *ngIf="(loading$ | async)">Loading posts...</div> -->
  <div *ngIf="(error$ | async) as errMsg" class="alert alert-error">
    {{ errMsg }}
  </div>

  <div *ngIf="(posts$ | async) as posts">

    <div *ngIf="posts.length === 0">
      No posts found, Please create a new post.
    </div>

    <div class="post-list" *ngIf="posts.length > 0">
      <div class="post-item card" *ngFor="let p of posts">
        <h3 class="post-title">{{ p.title }}</h3>
        <p class="post-subject">Subject: {{ p.subject }}</p>
        <p class="post-preheader">Preheader: {{ p.preheader }}</p>
        <div class="post-status" [ngClass]="p.status">
          Status: {{ p.status }}
        </div>

        <div *ngIf="p.status === 'scheduled'">
          Scheduled At: {{ p.scheduledAt | date:'short' }}
        </div>
        <div *ngIf="p.status === 'sent'">
          Sent At: {{ p.sentAt | date:'short' }}
        </div>

        <div class="post-actions">
          <button *ngIf="p.status !== 'sent'" class="btn-edit" (click)="editPost(p._id)">
            Edit
          </button>

          <button *ngIf="p.status !== 'sent'" class="btn-send" (click)="sendNow(p._id)">
            Send Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
