<section class="hero-section">
  <div class="hero-content">
    <h1 class="hero-title">
      <span id="typing-text"></span>
      <span class="cursor">|</span>
      <span class="heroText">your email campaigns</span>
    </h1>
    <span>With our</span>
    <h1 class="hero-title">{{ 'home.heroTitle' | translate }}</h1>
    <p class="hero-subtitle">
      {{ 'home.heroSubtitle' | translate }}
    </p>
    <button class="btn-cta" (click)="onGetStarted()">
      {{ 'home.getStarted' | translate }}
    </button>
  </div>
  <div class="hero-image">
    <img src="assets/homepage/hero.png" alt="Hero Illustration" />
  </div>
</section>