  <!-- Header -->
   <div><app-header></app-header></div>
<div class="app-container">

  <!-- Sidebar -->
  <aside class="sidebar-container">
    <app-sidebar></app-sidebar>
  </aside>

  <!-- Main Content -->
  <main class="main-content-container">
    <router-outlet />
  </main>

  <!-- Schedule Modal -->
  <app-schedule-modal
    *ngIf="showScheduleModal"
    [newsletter]="newsletter"
    (onClose)="showScheduleModal = false"
    (onSchedule)="scheduleNewsletter($event)"
  ></app-schedule-modal>
</div>
