.app-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  min-height: 100vh;
}

/* .main-content {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 2rem;
  background: #f9fafb;
} */
