<div class="home-container">
  <!-- Display skeleton loaders when loading is true -->
  <ng-container *ngIf="loading; else homeContent">
    <!-- Skeleton for Hero Section -->
    <ngx-skeleton-loader [theme]="{
        height: '400px',
        width: '100%',
        'margin-bottom': '1rem',
        'border-radius': '2rem',
        'background-color': '#e0e0e0'
      }">
    </ngx-skeleton-loader>
    <!-- Skeleton for Features Section -->
    <ngx-skeleton-loader [theme]="{
        height: '300px',
        width: '100%',
        'margin-bottom': '1rem',
        'border-radius': '2rem',
        'background-color': '#e0e0e0'
      }">
    </ngx-skeleton-loader>
    <!-- Skeleton for CTA Section -->
    <ngx-skeleton-loader [theme]="{
        height: '150px',
        width: '100%',
        'margin-bottom': '1rem',
        'border-radius': '2rem',
        'background-color': '#e0e0e0'
      }">
    </ngx-skeleton-loader>
    <!-- Skeleton for Footer Section -->
    <ngx-skeleton-loader [theme]="{
        height: '100px',
        width: '100%',
        'margin-bottom': '1rem',
        'border-radius': '2rem',
        'background-color': '#e0e0e0'
      }">
    </ngx-skeleton-loader>
  </ng-container>


    <ng-template #homeContent>
      <app-hero-section (getStarted)="onGetStarted()"></app-hero-section>
      <app-features-section></app-features-section>
      <app-testimonials-section></app-testimonials-section>
      <app-why-choose-section></app-why-choose-section>
      <app-pricing-section (getStarted)="onGetStarted()"></app-pricing-section>
      <app-cta-section (getStarted)="onGetStarted()"></app-cta-section>
      <app-footer-section></app-footer-section>
    </ng-template>
</div>